body {
  box-sizing: border-box;

  font-size: 22px;
  font-weight: 200;
}

/* light Theme Color */
body[data-theme="light"] {
  --font-color: rgb(65, 65, 65);
  --backgroungd-main-color: #ffb52b;
  --slide-1: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/090/original/CaGOMigMQJx-png__700.jpeg?1667827356);
  --font: "Cutive Mono", monospace;
  --slide-3: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/087/original/6221b0d2e1d21-CPJRXV4nAXA-png__700.jpeg?1667827033);
  --slide-2: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/070/original/yniver_shevchenko_1.jpeg?1667824047);
  --slide-4: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/063/original/kyiv-christmas-1.jpeg?1667822371);
  --slide-5: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/086/original/6221b0d189c78-621ddad175a92_kka5hyzfe3k81__700.jpeg?1667826791);
}

/* Dark Theme Color */
body[data-theme="dark"] {
  --font-color: white;
  --backgroungd-main-color: rgb(125, 41, 41);
  --slide-2: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/053/355/original/311318272_8384002054974358_3112517851811820865_n.jpeg?1668340347);
  --slide-3: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/058/original/image1170x530cropped.jpeg?1667819072);
  --slide-1: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/051/871/original/302817210_2867295773577508_3117534736597112554_n.jpeg?1667752584);
  --slide-4: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/060/original/2022-03-16T150940Z_300449369_RC2O3T94VJQS_RTRMADP_3_UKRAINE-CRISIS.jpeg?1667819991);
  --font: "Cutive Mono", monospace;
  --slide-5: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/059/original/1_oSfL_mzoT4FCrOE6zNWnyA.jpeg?1667819575);
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

label {
  display: block;
  text-indent: -99999px;
  height: 30px;
  width: 60px;
  background-color: rgb(146, 152, 150);
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: 0.4s ease black;
}

label::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: black;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: 0.4s ease;
}

input:checked + label {
  background-color: rgb(146, 152, 150);
}

input:checked + label::after {
  background-color: white;
  left: 55%;
}

/* 
    .header .theme-switcher {
        display: block;
        margin: 0 auto;
        padding: 30px;
        /* top: 50 px;
        right: 500px; */

/* Light Theme Color */

*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}

.panel {
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel1 {
  /* pics credits:
Hromadske
Photo: Emilio Morenatti,  
Rodrigo Abd, Wojciech Grzedzinski, Alex Lourie
*Getty Images, * The New York Times *Ройтерз;   UNDP Ukraine/Pavlo Petrov, Vladyslav Musiienko/UPI/REX/Shutterstoc 
Oleksandr Lapshyn/Reuters
ALAMY STOCK PHOTO
dorka_danceandtravel
Володимир Бугров

*/

  filter: brightness(95%);
  background-image: var(--slide-1);
}

.panel2 {
  filter: brightness(95%);
  background-image: var(--slide-2);
}

.panel3 {
  filter: brightness(95%);
  background-image: var(--slide-3);
}

.panel4 {
  filter: brightness(95%);
  background-image: var(--slide-4);
}

.panel5 {
  filter: brightness(95%);
  background-image: var(--slide-5);
}

/* Flex Children */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;

  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

/* when the panel has the class of open active - it behave sin the following way  */
.panel.open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  /* text-transform: uppercase; */
  font-family: var(--font);
  text-shadow: 0 2px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 1vw;
}

.panel p:nth-child(2) {
  font-size: 2em;
}

.panel.open {
  font-size: 30px;
  flex: 5;
}

.below {
  height: 400px;
}

/* .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        } */

.element1 {
  padding: 20px;

  background-color: #6b0f9c;
  color: #ffc600;
  cursor: pointer;
  border: none;
  font-size: 23px;
}

.element2 {
  padding: 4px;
  text-align: center;
  right: 15px;
  color: #a3f569;
  cursor: pointer;
  margin-top: 23px;
  font-size: 17px;
  background-color: rgba(127, 127, 124, 0.745);
}

.element2 a {
  color: #a3f569;
}

.border-element2 {
  position: absolute;
  right: 60px;
  border: 1px solid white;
  width: 40px;
  height: auto;
  border-radius: 400px;
  display: block;
}

.rights {
  text-align: center;
}

.theme-switcher {
  background-color: var(--backgroungd-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.titel {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: var(--backgroungd-main-color);
  display: block;
  margin: 0 auto;
  color: var(--font-color);
}

.opening {
  width: 100%;

  background-size: cover;
  background-position: center;
  min-height: 90vh;
  overflow: hidden;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/052/343/original/edited_ukraine-7083772.jpeg?1667934086");
}

.ukraine {
  background-color: white;
  width: fit-content;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 10px;
  top: 8rem;
  left: 16%;
  position: relative;
  font-size: 9vw;
  font-family: "Acme", sans-serif;
  font-weight: 800;
  color: rgb(52, 52, 52);
  letter-spacing: 5px;
}

.is_a_capital {
  background-color: white;
  width: fit-content;
  padding: 7px;
  top: 9rem;
  left: 25%;
  position: relative;
  font-size: 3vw;
  font-weight: 500;
  color: rgb(52, 52, 52);
}

.of_great {
  color: aliceblue;
  /* padding: 7px; */
  top: 8rem;
  left: 25%;
  position: relative;
  font-size: 6vw;
  font-weight: 600;
  text-shadow: 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.material-symbols-outlined {
  position: relative;
  color: #a7ff68;
  display: inline;
  top: 1rem;
  font-size: 6vw;
  font-weight: 400;
  cursor: pointer;

  /* text-shadow: 0 2px rgba(255, 255, 255, 0.72), 0 0 14px rgb(255, 255, 255); */
}

a:hover {
  text-decoration: none;
}

.element2:hover,
.material-symbols-outlined:hover {
  opacity: 0.6;
}

.instagram_posts {
  background-color: var(--backgroungd-main-color);
  color: var(--font-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 0;
  min-width: 100%;
  /* font-weight: 400px; */
  text-align: center;
  padding-top: 40px;
}

.about {
  background-color: var(--backgroungd-main-color);
  color: var(--font-color);
  padding-top: 40px;
  text-align: justify;
  padding: 30px;
  margin-left: 10px;
  margin-right: 40px;
}

.about h2 {
  padding-top: 20px;
  font-family: "Acme", sans-serif;
  font-size: 5vw;
  line-height: 73%;
  text-align: left;
  padding-left: 0px;
  padding-bottom: 20px;
}

.instagram_posts h1 {
  padding-bottom: 25px;
}

.card .material-symbols-outlined {
  font-size: 40px;
}

.peaceful_kyiv {
  padding-left: 5vw;
  line-height: 30px;
}

.peaceful_kyiv_link {
  text-align: left !important;
  padding-top: 20px;
  color: black;
}

.peaceful_kyiv_link a,
.peaceful_kyiv_link p {
  color: rgb(65, 65, 65);
  font-weight: 500;
}

.maidan_img {
  max-width: 100%;
  height: auto;
  padding-top: 29px;
  display: block;
  margin: 0 auto;
}

.kyiv1 {
  background-color: #f4f2f2;
  padding: 27px;
  border-radius: 20px;
  color: rgb(65, 65, 65);
  box-shadow: 5px 10px #888888;
  margin-top: 10px;
  margin-bottom: 10px;
}

.kyiv2 {
  background-color: #f4f2f2;
  color: rgb(65, 65, 65);
  border-radius: 20px;
  padding: 27px;
  box-shadow: 5px 10px #888888;
  margin-left: 20px;
  margin-top: 10px;
}

.kyivinfo {
  padding-right: 5vw;
}

.ukr_art {
  padding-top: 59px;
}

a {
  color: #390057;
}

.icon {
  border: 1px solid var(--font-color);
  padding: 20px;
  margin-left: 20px;
  border-radius: 300px;
}

.lookAway_titel {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(125, 41, 41);
  color: white;
}

.kyiv_titel {
  margin-bottom: 18px;

  padding: 10px;
  border-radius: 10px;
  background-color: rgb(13, 97, 34);
  color: white;
}

.in_the_shelter {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 2vw;
  padding-right: 2vw;
  /* font-weight: 400; */
  font-size: 23px;
  background-color: rgb(13, 97, 34);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact {
  padding-left: 40px;
  padding-right: 10px;
}

@media only screen and (max-width: 660px) {
  .opening {
    min-height: 55vh;
  }

  .panels {
    min-height: 50vh;
  }

  .panel p:nth-child(2) {
    font-size: 2vw;
  }
}
